.table-week{
    width: 100%;
}
.hour{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; */
}

.hour-week{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    /* padding: 10px; */
}
.hour-week-div{
    top:50%;
    /* bottom: 50; */
    position: absolute;
}
.hour-weer-cell{

    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}
.lunch{
    position: absolute;
    height: 100%;
    width: calc(200% + 2px);
    top: 0;
    left: 0;
    background-color: black;
}
.day-for-week{
    width: 12.5%;
}
.week-table-body{
    height: 300px;
    overflow-y: auto;
}
.table-thead{
    position: sticky;
}